.header-continer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 77px;

}
.logo{
    // max-width: 100px;
    width: 150px;
    margin-right: 100px;
}
.nav-continer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

.nav-item{
    margin: 0 10px;
    text-decoration: none;
}
.btn{
    margin: 0 10px;
    padding: 8px 18px;
    border-radius: 3px;
    background-color: hsl(0, 94%, 66%);
    color: #ffff;
    font-family: "myfont";
}

.btn:hover{
    background-color: #ffff;
    border: solid 1px hsl(0, 94%, 66%);
    color: hsl(0, 94%, 66%);

}

.nav-text{
    font-family: 'myfont';
    font-size: 18px;
    color: hsl(229, 31%, 21%);
    margin: 0;
}

.nav-text:hover{
    color:  hsl(0, 94%, 66%);
}
.menu-continer{
    display: none;
}

@media only screen and (max-width: 600px) {
    .nav-continer{
        display: none;
    }
    .menu-continer{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 100px;
    }
}

.menu-img{
    width: 35px;
}
.overlay{
    height: 100%;
     width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 35, 0.89);
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
                    // justify-content: center;
    align-items: center;
    flex-direction: column;
 }
.none{          
    display: none;
}

.overlay-content {
  
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border-top: solid 1px #818181;
 
  }
  .menu-image{
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin: 20px;
    border-bottom: solid 1px;
    /* border-top: solid 1px; */
    padding: 10px;
    width: 85%;
    text-align: center;
  }
  .nav-menu-text{
    font-family: 'myfont';
    font-size: 18px;
    color: #ffff;
  }
  .btn-menu{
    margin: 15px;
    padding: 15px 18px;
    border-radius: 5px;
    color: #ffff;
    font-family: "myfont";
    font-size: 18px;
    // width: 85%;
    background-color: inherit;
    border: solid 3px #ffff;
}
.btn-menu:hover{
    // background-color: #fa5757; 
    border: solid 3px  #fa5757;


  }
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  .nav-menu-text:hover{
    color:  hsl(0, 94%, 66%);

  }

// .topnav {
//     overflow: hidden;
//     background-color: #333;
//   }
  
//   .topnav a {
//     float: left;
//     display: block;
//     color: #f2f2f2;
//     text-align: center;
//     padding: 14px 16px;
//     text-decoration: none;
//     font-size: 17px;
//   }
  
//   .active {
//     background-color: #4CAF50;
//     color: white;
//   }
  
//   .topnav .icon {
//     display: none;
//   }
  
//   .dropdown {
//     float: left;
//     overflow: hidden;
//   }
  
//   .dropdown .dropbtn {
//     font-size: 17px;    
//     border: none;
//     outline: none;
//     color: white;
//     padding: 14px 16px;
//     background-color: inherit;
//     font-family: inherit;
//     margin: 0;
//   }
  
//   .dropdown-content {
//     display: none;
//     position: absolute;
//     background-color: #f9f9f9;
//     min-width: 160px;
//     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//     z-index: 1;
//   }
  
//   .dropdown-content a {
//     float: none;
//     color: black;
//     padding: 12px 16px;
//     text-decoration: none;
//     display: block;
//     text-align: left;
//   }
  
//   .topnav a:hover, .dropdown:hover .dropbtn {
//     background-color: #555;
//     color: white;
//   }
  
//   .dropdown-content a:hover {
//     background-color: #ddd;
//     color: black;
//   }
  
//   .dropdown:hover .dropdown-content {
//     display: block;
//   }
  
//   @media screen and (max-width: 600px) {
//     .topnav a:not(:first-child), .dropdown .dropbtn {
//       display: none;
//     }
//     .topnav a.icon {
//       float: right;
//       display: block;
//     }
//   }
  
//   @media screen and (max-width: 600px) {
//     .topnav.responsive {position: relative;}
//     .topnav.responsive .icon {
//       position: absolute;
//       right: 0;
//       top: 0;
//     }
//     .topnav.responsive a {
//       float: none;
//       display: block;
//       text-align: left;
//     }
//     .topnav.responsive .dropdown {float: none;}
//     .topnav.responsive .dropdown-content {position: relative;}
//     .topnav.responsive .dropdown .dropbtn {
//       display: block;
//       width: 100%;
//       text-align: left;
//     }
//   }